server {
    listen 80;
    listen [::]:80;
    server_name gateway.prsznh.cn;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name gateway.prsznh.cn;

    ssl_certificate /etc/letsencrypt/live/gateway.prsznh.cn/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/gateway.prsznh.cn/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location = /~!frp {
        proxy_pass http://127.0.0.1:7000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        proxy_buffering off;
    }

    location / {
        return 404;
    }
}
